@import url(./css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


:root {
    --branco: #FFFFFF;
    --branco-escuro: #F9F9F9;
    --cinza-claro: #ECECEC;
    --Cinza: #C4C4C4; 
    --cinza-medio: #A7A7A7;
    --cinza-escuro: #343434;
    --preto: #080808;
    --azul: #1B77F3;
    --vermelho: #CF3C3F;

    --fonte: "Lexend Deca";
}

main {   
    background-color: var(--branco-escuro);
    font-family: var(--fonte);
    font-size: 16px;
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login__logo {
    margin-bottom: 80px;
    width: 130px;
}

.login__title {
    color: var(--cinza-escuro);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 30px;
}

.login__label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    color: var(--cinza-escuro);
    background-color: var(--cinza-claro);
    border: 3px solid transparent;
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    font-weight: 600;
    padding: 25px 10px 10px;
    width: 100%;
}

.login__label span {
    color: var(--cinza-medio);
    cursor: text;
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    margin: 20px;
    text-transform: uppercase;
    transition: all 200ms ease;
}

.input:focus {
    background-color: var(--branco-escuro);
    border: 3px solid var(--cinza-escuro);
}

.login__label .span-active {
    font-size: 0.7em;
    margin: 8px 18px;
}

.login__icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.login__icons img {
    width: 20px;
}

.icons__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 33.33%;
}

.login__icons .icons__button:nth-child(1) {
    background-color: var(--azul);
}

.login__icons .icons__button:nth-child(2) {
    background-color: var(--cinza-claro);
}

.login__icons .icons__button:nth-child(3) {
    background-color: var(--preto);
}

.login__label--checkbox {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    margin: 15px 0 50px;
    width: 100%;
}

.input--checkbox {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--cinza-claro);
    margin-right: 8px;
    border-radius: 3px;
}

.input--checkbox:checked {
    background-color: var(--vermelho);
}

.input--checkbox:checked::after {
    content: "";
    display: block;
    border: 3px solid var(--branco-escuro);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 1.6px 6px;
    width: 5px;
    height: 10px;
}

.login__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 60px;
    padding: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--vermelho);
}

.login__button svg {
    fill: var(--branco-escuro);
}

.login__button:disabled {
    cursor: auto;
    background-color: var(--branco-escuro);
    border: 2px solid var(--cinza-claro);
}

.login__button:disabled svg {
    fill: var(--Cinza);
}

.login__link {
    color: var(--cinza-medio);
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.wallpaper {
    background-image: url(./imagens/Splash\ -\ M.Fortune.jpg);
    background-size: cover;
    background-position: center;
    flex: 1;
    width: 100%;
}